<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <style>
        #policyDetails {
            display: none;
            background: #f9f9f9;
            padding: 15px;
            margin-top: 5px;
        }
    </style>
    <script>
        function togglePolicyDetails() {
            var x = document.getElementById("policyDetails");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body>
<h1>Registration</h1>
<p th:if="${message}" th:text="${message.message}" th:style="'color: ' + ${message.type.color}"></p>
<form th:action="@{/register-post}" th:object="${userRegisterDTO}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" th:field="*{password2}" required />
    </div>
    <div>
        <input type="checkbox" id="policy" th:field="*{policyAccepted}" required />
        <label for="policy" onclick="togglePolicyDetails()">I accept the privacy policy (click to read more).</label>
    </div>
    <div id="policyDetails">
        <h2>Privacy Policy</h2>
        <p>Here you should enter detailed information about your privacy policy. This can include explanations of what data is collected, how it is stored and used, users' rights, etc.</p>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
