<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <script type="text/javascript">
        function redirectToGoogle() {
            var googleUrl = document.getElementById("googleLoginButton").getAttribute("data-url");
            window.location.href = googleUrl;
        }
    </script>
</head>
<body>
<h1>Login Page</h1>
<p th:if="${message}" th:text="${message.message}" th:style="'color: ' + ${message.type.color}"></p>
<form th:action="@{/login-post}" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <button type="button" onclick="window.location.href='/register'">Register</button>
    </div>
</form>
<p onclick="window.location.href='/retrieve-password'"> forgot your password? </p>

<div>
    <button type="button" id="googleLoginButton" th:data-url="${googleUrl}" onclick="redirectToGoogle()">Login with Google</button>
</div>

</body>
</html>
